{% from "bootstrap5/form.html" import render_form %} {%extends
"base.html"%}{%block title%}Task{%endblock%}{%block content%}

<div class="px-4 py-5 my-5 text-center">
  <img
    class="d-block mx-auto mb-4 rounded-circle"
    src="static/assets/success.png"
    alt=""
    width="200"
    height="200"
  />
  <h1 class="display-5 fw-bold text-body-emphasis">Success</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You can now work on the Project</p>
    <a href="{{url_for('project')}}">View Project</a>
  </div>
</div>

{%endblock%}
