<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title%}{%endblock%}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap"
      rel="stylesheet"
    />
    <link href="static/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="content">
      <header class="container-fluid p-3 text-bg-dark">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0">
            <img
              img
              src="static/assets/logo.png"
              alt="Biru"
              width="100"
              height="100"
              class="img-fluid"
            />
          </a>

          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 ps-5 nav-text"
          >
            <li>
              <a
                href="{{url_for('home')}}"
                class="nav-link px-2 nav-hov {% if request.endpoint == 'home' %}active{%endif%}"
                aria-current="{% if request.endpoint == 'home' %}page{%endif%}"
                >Home</a
              >
            </li>
            <li>
              <a
                href="{{url_for('task')}}"
                class="nav-link px-2 nav-hov {% if request.endpoint == 'task' %}active{%endif%}"
                aria-current="{% if request.endpoint == 'task' %}page{%endif%}"
                >My Task</a
              >
            </li>
            <li>
              <a
                href="{{url_for('project')}}"
                class="nav-link px-2 nav-hov {% if request.endpoint == 'project' %}active{%endif%}"
                aria-current="{% if request.endpoint == 'project' %}page{%endif%}"
                >Group Task</a
              >
            </li>
            <li>
              <a
                href="{{url_for('about')}}"
                class="nav-link px-2 nav-hov {% if request.endpoint == 'about' %}active{%endif%}"
                aria-current="{% if request.endpoint == 'about' %}page{%endif%}"
                >About</a
              >
            </li>
          </ul>

          <div class="text-end d-flex justify-content-end">
            {%if not current_user.is_authenticated%}
            <a href="{{url_for('login')}}"
              ><button type="button" class="btn me-2 custom-btn">
                Login
              </button></a
            >
            <a href="{{url_for('register')}}"
              ><button type="button" class="btn custom-btn-sign">
                Sign-up
              </button></a
            >
            {%else%}
            <a class="mx-2" href="#">{{current_user.email}} </a>
            <a href="{{url_for('logout')}}"
              ><button type="button" class="btn custom-btn-sign">
                Logout
              </button></a
            >
            {%endif%}
          </div>
        </div>
      </header>
      {%block content%}{%endblock%}
    </div>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
      <div class="container">
        <span class="text-body-secondary"
          >&copy; {{ current_year }} Tasky by Birochan. All rights reserved.<span
        >
      </div>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
